<h1> BitcoinScraping </h1>

In [65]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
import time

In [7]:
dtIni = "20170615"
dtEnd = "20180615"
url = "https://coinmarketcap.com/currencies/bitcoin/historical-data/?start={}&end={}".format(dtIni, dtEnd)
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [15]:
priceDiv = soup.find('div', attrs={'class':"table-responsive"})
rows = priceDiv.find_all('tr')

In [17]:
data = []
i = 0;

In [92]:
for row in rows:
    tmp = []
    tds = row.findChildren()
    
    for td in tds:
        tmp.append(td.text)
        
    if(i > 0):
        try:
            tmp[0] = tmp[0].replace(',','')
            tmp[5] = tmp[5].replace(',','')
            tmp[6] = tmp[6].replace(',','')
            
            data.append({'date':datetime.strptime(tmp[0], '%b %d %Y'),
                         'open':tmp[1],
                         'high':float(tmp[2]),
                         'low':float(tmp[3]),
                         'close':float(tmp[4]),
                         'volume':float(tmp[5]),
                         'mcap':float(tmp[6])})
        except ValueError as e:
            print(e)

    i = i + 1;

df = pd.DataFrame(data)

time data 'Date' does not match format '%b %d %Y'

In [94]:
df.head()

,close,date,high,low,mcap,open,volume
0,6456.58,2018-06-15 00:00:00,6681.08,6433.87,1.14084e+11,6674.08,3.95539e+09
1,6675.35,2018-06-14 00:00:00,6707.14,6334.46,1.08408e+11,6342.75,5.13871e+09
2,6349.9,2018-06-13 00:00:00,6631.66,6285.63,1.1274e+11,6596.88,5.05235e+09
3,6582.36,2018-06-12 00:00:00,6907.96,6542.08,1.18007e+11,6905.82,4.65438e+09
4,6906.92,2018-06-11 00:00:00,6910.18,6706.63,1.16175e+11,6799.29,4.74527e+09