<h1> BitcoinScraping </h1>

In [188]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
import time

In [189]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [190]:
dtIni = "20180801"
dtEnd = "20180815"
url = "https://coinmarketcap.com/currencies/bitcoin/historical-data/?start={}&end={}".format(dtIni, dtEnd)
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [191]:
priceDiv = soup.find('div', attrs={'class':"table-responsive"})
rows = priceDiv.find_all('tr')

In [192]:
data = []
i = 0;

In [193]:
for row in rows:
    tmp = []
    tds = row.findChildren()
    
    for td in tds:
        tmp.append(td.text)
        
    if(i > 0):
        try:
            tmp[0] = tmp[0].replace(',','')
            tmp[5] = tmp[5].replace(',','')
            tmp[6] = tmp[6].replace(',','')
            
            data.append({'date':datetime.strptime(tmp[0], '%b %d %Y'),
                         'open':tmp[1],
                         'high':float(tmp[2]),
                         'low':float(tmp[3]),
                         'close':float(tmp[4]),
                         'volume':float(tmp[5]),
                         'mcap':float(tmp[6])})
        except ValueError as e:
            print(e)

    i = i + 1;

df = pd.DataFrame(data)

In [194]:
df.head()

     close       date     high      low          mcap     open        volume
0  6308.52 2018-08-15  6588.49  6221.42  1.070701e+11  6221.42  4.895450e+09
1  6199.71 2018-08-14  6287.94  5971.05  1.081991e+11  6287.66  5.301700e+09
2  6297.57 2018-08-13  6537.05  6225.72  1.091115e+11  6341.36  4.083980e+09
3  6322.69 2018-08-12  6409.85  6237.50  1.081065e+11  6283.65  5.665250e+09
4  6295.73 2018-08-11  6455.74  6109.03  1.064095e+11  6185.79  4.047850e+09

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
close     15 non-null float64
date      15 non-null datetime64[ns]
high      15 non-null float64
low       15 non-null float64
mcap      15 non-null float64
open      15 non-null object
volume    15 non-null float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 920.0+ bytes

In [196]:
# Converting large numbers to float
df['volume'] = df['volume'].apply(lambda x: '{:.2f}'.format(x))
df['mcap'] = df['mcap'].apply(lambda x: '{:.2f}'.format(x))

In [197]:
df.head()

,close,date,high,low,mcap,open,volume
0,6308.52,2018-08-15,6588.49,6221.42,107070056730.00,6221.42,4895450000.00
1,6199.71,2018-08-14,6287.94,5971.05,108199097492.00,6287.66,5301700000.00
2,6297.57,2018-08-13,6537.05,6225.72,109111523954.00,6341.36,4083980000.00
3,6322.69,2018-08-12,6409.85,6237.50,108106451582.00,6283.65,5665250000.00
4,6295.73,2018-08-11,6455.74,6109.03,106409456302.00,6185.79,4047850000.00

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
close     15 non-null float64
date      15 non-null datetime64[ns]
high      15 non-null float64
low       15 non-null float64
mcap      15 non-null object
open      15 non-null object
volume    15 non-null object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 920.0+ bytes